<p>student works!</p>

<div class="comment-list">
    <h2>My students</h2>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of dataResponse?.data">
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.email }}</td>
            </tr>
        </tbody>
      </table>

</div>




<router-outlet></router-outlet>